# === IntelliJ IDEA ===
.idea/
*.iml
*.iws
out/
.idea_modules/

# === Gradle ===
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# === Kotlin/Java ===
*.class
*.log
*.ctxt

# === Spring Boot ===
*.pid
*.seed
*.key

# === OS-specific ===
.DS_Store
Thumbs.db

# === Logs & temp ===
logs/
*.log
*.tmp
*.swp
*.swo

# === Docker ===
/docker-compose.override.yml
/.env
.env.*
/*.local.*

# === Test reports ===
/test-output/
/test-results/
/reports/

# === Coverage ===
/jacoco.exec
/jacoco-report/

# === Misc ===
*.bak
*.old

# Игнорировать application.yaml
src/main/resources/application.yaml

application-local.yaml

.git
.gitignore
.gradle
build
out
.idea
*.iml
Dockerfile
docker-compose.yml
deploy
